.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #4287f5;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding-left: 10px;
}

.navbar h2{
    color: #ffff;
}

.nav-items{
    display: flex;
    flex-direction: row;
    list-style: none;
    cursor: pointer;
    padding-left: 10px;
}

.nav-item{
    margin: 10px;
    padding: 0px 10px;
    color: #ffff;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #cf4e34;
}

